
.wrapper{
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
}

.wrapper .heading{
    font-size: 26px;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}

.wrapper .form__info{
    width: 400px;
    margin: 0 auto;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.25);
}

.wrapper .form__info .input{
    margin-top: 10px;
    width: 100%;
    height: 24px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.wrapper .form__info label{
    width: 100%;
}

.wrapper .form__info label .missing{
    margin-left: 16px;
    display: none;
    color: #ff504f;
    font-size: 16px;
    font-style: italic;
}

.wrapper .form__info button{
    width: 120px;
    margin-top: 24px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background-color: #00bd4f;
    color: #fff;
}

.wrapper .form__info button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.wrapper .form__question{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 24px;
    display: none;
    position: relative;
    margin-bottom: 120px;
}

.wrapper .form__question .question-text{
    margin-bottom: 64px;
}

.wrapper .form__question textarea{
    width: 100%;
}

.wrapper .form__answer{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 16px 40px;
    padding-bottom: 80px;
}

.wrapper .form__answer h4{
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.wrapper .form__answer .score{
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #00bd4f;
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}

#question-submit{
    position: absolute;
    left: calc(50% - 60px);
    width: 120px;
    margin-top: 24px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background-color: #00bd4f;
    color: #fff;
}

#question-submit:hover{
    cursor: pointer;
    opacity: 0.8;
}

#ok{
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    margin-top: 16px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background-color: #00bd4f;
    color: #fff;
}

#ok:hover{
    opacity: 0.8;
    cursor: pointer;
}